<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel="stylesheet" href="css/edit.css">
    <!-- <link rel="stylesheet" href="icons/css/all.min.css">
    <link rel="stylesheet" href="icons/css/fontawesome.min.css"> -->
</head>
<body>
    <div class="main">
        <h3>Todo Edit form</h3>
        <a href="/all/<%= todo[0].usersID %>"><i class="fas fa-close"></i></a>
        <form action="/editTask/<%= todo[0].id %>/<%= todo[0].usersID %>" method="post" autocomplete="off">
            <input type="text" value="<%= todo[0].todoname %>" id="input" name="editTodoName" required/>
            <button type="submit">
                <i class="fas fa-chevron-right" id="new-task-close"></i>
            </button>
        </form>
    </div>
    <script src="https://kit.fontawesome.com/a50253de37.js" crossorigin="anonymous"></script>
</body>
</html>